*{margin:0; padding:0;}
header a{
	text-decoration: none; color: #333333;
}
body{
	padding: 30px;
	background-color: #f3f1e9;
	}
/* nav ¿µ¿ª */
nav{margin-top: 10px; margin-bottom:20px}

nav ul{
	list-style: none;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	text-align: center;
}
nav ul li{
	display:inline;
	letter-spacing: .3em;
	margin-left: 2em;
}
nav ul li a{
	text-decoration: none;
	color: black;
	line-height: 3em;
}